################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp/FileContentIndex/131162ac-2f35-4c29-a7f8-f41763ed9cf7.vsidx
/.vs/CSharp/FileContentIndex
